 /*
| -------------------------------------------------------------------
| inicio.php
| -------------------------------------------------------------------
*/  

.card-body{
    background: #f8f9fa; 
    box-shadow:1px 7px 15px #a2a2a2;
   
}

.principal{
	margin-top:50px;
	font-family: 'Roboto';
}

/*tarjeta 1*/
.card-header-second{
	box-shadow:1px 7px 15px #a2a2a2;
    margin:-11px -11px 0px -11px;
    height: 80px;
    background: linear-gradient(-90deg, #8E2DE2, #4A00E0); 
  
}

.cobrar{
    color: #fff!important;
}

.card-header-title{
	padding: 5px 5px;
}



/*Para el efecto sombra al pasar por encima el mouse*/
.card-section:hover{
	box-shadow:1px 1px 20px #aaaaaa;
}



 /*
| -------------------------------------------------------------------
| base.php
| -------------------------------------------------------------------
*/  

.nav-sm .navbar.nav_title a img {
    font-size: 27px;
    margin: 5px 0 0 -1px;
    width: 83%;
}

.site_title img {
    border-radius: 50%;
    width: 26%;
    border: 5px solid rgba(52,73,94,0.44);
    margin-top: -4px;
    overflow: hidden;
}

.sidebar-footer {
    background: #014CDA !important;
}

.sidebar-footer a {
    background: #014CDA !important;
}


.left_col {
    background: #016EDA !important;
}

.ajs-ok{
    background-color: #007bff !important;
    color: #fff !important;
    border-radius: 3px !important;
    border: 0 !important;
    
    }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 130px;
    }

 /*
| -------------------------------------------------------------------
| cobros.php
| -------------------------------------------------------------------
*/ 

.container-buscar{
    margin-right: 5px;
    width: 66%;
}

@media (min-width: 502px){
    .container-buscar{
        margin-right: 5px;
        width: 41%;
    }
}

@media (min-width: 1190px){
    .container-buscar{
        margin-right: 5px;
        width: 18%;
    }
}

.flex-containertabla{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    height: 116px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-content: center;
    
}

@media (min-width: 550px){
    .flex-containertabla{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        height: 117px;
        margin-bottom: auto;
        margin-top: 0px;
        align-content: center;
    
    }
}

@media (min-width: 1190px){
    .flex-containertabla{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        height: 48px;
        margin-top: 20px;
        margin-bottom: 0px;
    
    }
}

@media (min-width: 1190px){
    .flex-containertabla1{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        height: 48px;
        margin-bottom: 20px;
    }
}


.flex-containertabla1{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 48px;
    margin-bottom: 20px;
}

.container-date{
    margin-right: 5px;
    width: 33%;
    height: 20px;
}

@media (min-width: 502px){
    .container-date{
        margin-right: 5px;
        width: 33%;
        height: 20px;
    }
}

@media (min-width: 1190px){
    .container-date{
        margin-right: 5px;
        width: 15%;
    }
}

.container-idcredito{
    margin-right: 5px;
    width: 36%;
}
@media (min-width: 502px){
    .container-idcredito{
        margin-right: 5px;
        width: 36%;
    }
}

@media (min-width: 1190px){
    .container-idcredito{
        margin-right: 5px;
        width: 18%;
    }
}

.container-lupa{
    margin-right: 5px;
    
}

@media (min-width: 1190px){
    .container-lupa{
        margin-right: 5px;
    
    }
}

.btn-lupa{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    width: 100%;
    height: 38px;
}

@media (min-width: 1190px){
    .btn-lupa{
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        width: 100%;
        height: 71%;
    }
}

.btn-flecha{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    width: 100%;
    height: 80%;
}

.container-dropdown1 {
    margin-right: 5px;
    width: 45%;
    }
    
@media (min-width: 502px){
.container-dropdown1{
    margin-right: 5px;
    width: auto;
}
}

.container-dropdown2 {
margin-right: 5px;
width: 39%;
}

@media (min-width: 502px){
.container-dropdown2 {
margin-right: 5px;
width: auto;
}
}

 /*
| -------------------------------------------------------------------
| modal.php
| -------------------------------------------------------------------
*/ 
.container {
    background: #F7F7F7;
}

.modal{
    padding-right: 0px !important;
}


.modal-lg {
    max-width: 1300px !important;
}


@media (min-width: 768px){
    .modal-lg {
   max-width: 731px !important; 
    
}
}

@media (min-width: 1200px){
.modal-lg {
    /*max-width: fit-content;*/
    max-width: 1275px !important;
}
}

.flex-container{
    display: flex;
    flex-direction: column;
    margin-top: 31%;
   
    
}

@media (min-width: 768px){
.flex-container{

    margin-top: 3%;
    
}
}

@media (min-width: 1200px){
.flex-container{

    margin-top: 3%;
    
}
}

.info-container{
    display: contents;
    width: 100%;
    height: 26px;
    padding: 1px 5px 6px;
    
}

@media (min-width: 768px){
.info-container{
    display: flex;
    width: 100%;
    height: 26px;
    padding: 1px 5px 6px;
    
}
}

@media (min-width: 1200px){
.info-container{
    display: flex;
    width: 100%;
    height: 26px;
    padding: 1px 5px 6px;
    
}
}

h6{
    width: 100%;
    padding: 1px 5px 6px;
    
}

#h6{
    width: 40%;
    padding: 1px 5px 6px;
    margin-bottom: auto;
    padding-bottom: 0px;
    
}

@media (min-width: 768px){
#h6{
    width: 40%;
    padding: 1px 5px 6px;
    
}
}

#h6::after{
    content: ":"; 
    position: absolute;
    right: 410px;
}

@media (min-width: 768px){
#h6::after{
    content: ":"; 
    position: absolute;
    right: 455px;
}
}

@media (min-width: 1200px){
#h6::after{
    content: ":"; 
    position: absolute;
    right: 404px;
}
}

#infoContactos{
    width: 40%;
    font-weight: bold;
    
}

#infoText{
    width: 100%;
    height: auto;
    min-height: 112px;
    min-height: 222px;
    
}

@media (min-width: 768px){
#infoText{
    width: 100%;
    height: auto;
    min-height: 112px;
    
}
}

#x_panel{
    height: 446px;
}

@media (min-width: 768px){
#x_panel{
    height: 238px;
}
}

@media (min-width: 1200px){
#x_panel{
    height: 238px;
}
}


@media (min-width: 768px){
.flex-cobroinfo{
    display: grid;
   
}

.col-md-6 {
    
    max-width: 100%;
}
}

@media (min-width: 1200px){
.flex-cobroinfo{
    display: flex;
   
}
.col-md-6 {
    
    max-width: 50%;
}
}

.nav-tabs .nav-item {
    width: inherit;
   

}

@media (min-width: 768px){
.nav-tabs .nav-item {
    width: auto;
    
}
}

@media (min-width: 1200px){
.nav-tabs .nav-item {
    width: auto;
    
}
}

ul.bar_tabs {

    padding-left: 0px;

}

ul.bar_tabs>li {

    margin-left: 0px;
    margin-top: -4px;

}

/* BOTONES */
.Aplaza{
    background-color: #433de0;
    color: white;
}

.Aplaza:hover {
    background-color: #322ce0;
}

.Iniciado{
    background-color: #EED515;  
}

.Iniciado:hover {
  background-color: #EEC113;
}

.Castigar{
    background-color: #C1272D;
    color: white;

}

.Castigar:hover {
  background-color: #AB272D;
  color: white;
}
.Mora{
    background-color: #9E005D;
    color: white;

}
.Mora:hover {
  background-color: #86005D;
  color: white;
}
.Pagado{
    background-color: #00B900;
    color: white;

}
.Pagado:hover {
  background-color: #00A300;
  color: white;
}
.Contesto{
    background-color: #F17A24;
    color: white;
 
}
.Contesto:hover {
  background-color: #F16224;
  color: white;
}

.No-Iniciado{
    background-color: #a09a95;
    /*visibility: hidden;*/
 
}

/*.null:before{
    background-color: #a09a95;
    content: "No Iniciado";
    visibility:visible;
 
}*/
.No-Iniciado:hover {
  background-color: #76706e;
  
}